record (ai, "$(SYS)-$(SUBS):$(DEV):$(SIG)") {
  field (DESC, "$(SUBS):$(DEV) $(DESC)")
  field (EGU, "$(EGU)")
  field (DTYP, "S7plc")
  field (INP,  "@PLC:$(SUBS)/$(OFFS) T=$(T)")
  field (LINR, "LINEAR")
  field (EGUL, "$(EGUL)")
  field (EGUF, "$(MAXVAL)")
  field (PREC, "$(PREC)")
  field (SCAN, "I/O Intr")
}
