record (ai, "$(SYS)-$(SUBS):$(DEV):$(SIG)") {
  field (DESC, "$(SUBS):$(DEV) $(DESC)")
  field (EGU, "$(EGU)")
  field (DTYP, "S7plc")
  field (INP,  "@PLC:DBE/$(OFFS) T=UINT16")
  field (LINR, "LINEAR")
  field (ESLO, "$(ESLO)")
  field (EGUL, "0")
  field (EGUF, "$(MAXVAL)")
  field (PREC, "$(PREC)")
  field (SCAN, "I/O Intr")
}
